:root{
    --color1: #3F6955;
    --color2: #323232;
}
@font-face {
    font-family: "SFProDisplay-Regular"; 
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
p{
    font-family: "SFProDisplay-Regular";
} 
header{
    height: 640px;
    padding: 400px 0;
    background-image: url(../img/mountains.png);
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}
header .welc{
    font-size: 58px;
}
.btn-itd{
    background-color:var(--color1) !important;
    color: white !important;
    border-radius: 0px !important;
    font-size: 35px;
}
#about-us{
    background: #F5F5F5;
    padding-top: 50px;
}
#about-us .carousel-item{
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 150px;
}
.o{
    font-size: 27px;
}
.on{
    font-size: 44px;
}
.sos{
    font-size: 35px;
}
.ts{
    font-size: 20px;
}
#about-us img{
    padding-bottom: 100px;
}
#nomer{
    background: #F5F5F5;
    padding-top: 100px;
}
#nomer .grey{
    padding-bottom:10px;
    background: var(--color2);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.grey hr{
    color: white;
}
#nomer .white{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#podval{
    background: #D9D9D9;
    height: 400px;
}
#podval .grey{
    background: var(--color2);
    padding-top: 0;
    padding-bottom: 90px;
}
#podval .white{
    background: white;
    padding-top: 0;
    padding-bottom: 90px;
}
#nomer .btn-cot{
    margin-left: 42px;
}
.interes{
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 58px;
}
.btn-interes{
    margin: 0 auto;
    display: block;
}
.carousel-item{
    height: 500px;
    width: 750px;
    margin-top: 30px;
}
#fond li{
    font-size: 20px;
}
.bkfon{
    background: #D9D9D9;
    position: relative;
    left: 40%;
    transform: translate(-40%, 0);
}
#fond .bkfon{

    margin-top: 30px;
    margin-bottom:10px ;
}
#standart .bkfon{
    margin-top: 30px;
    margin-bottom:10px ;
}
#fond .plux{
    background-color:  #323232 !important;
}
#fond .stnd{
    background-color: white !important;
    color: #323232 !important;
}
#standart{
    font-size: 29px;
}
#standart .stnd{
    background-color:  #323232 !important;
}
#standart .plux{
    background-color: white !important;
    color:#323232 !important;
}
.table{
    margin-top: 40px;
    font-size: 30px;
}
.fondbtd{
    margin-top: 20px;
}
